{{!--challange add to homepage and about--}}
{{!--add h1--}}
{{!--add 123 after h1 to make sure it is using the header hbs--}}
<header>
    <h1>{{pageTitle}}</h1>
    <p><a href="/">Home</a></p>    
    <p><a href="/about">About</a></p>
    <p><a href="/projects">Projects</a></p>
</header>
     
     
