 <! DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Website</title>
    </head>
    <body>
        {{> header}} 
 <h2>Here are some projects we would like to present</h2>
    <div>Project1</div>
    <div>Project2</div>
    
     {{> footer}}
    </body>
</html>     
